
/*----------     Assistive Touch content area  -------------------*/
.assistive-touch-content{
    cursor: -webkit-grab;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*----------     Assistive Touch close Btn  -------------------*/
.assistive-touch-close-btn{
    cursor: pointer;
    position: absolute;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color: #000;
    right: 0;
    top: 0;
    margin-right: -5px;
    margin-top: -5px;
    background-color: #eee;
    background-color: rgba(200,200,200,.8);
    border-radius: 50px;
}